@using MyApiBook_1.EntityLayer.ViewModel
@model List<Random1BookViewModel>


<div class="corner-pattern-overlay"></div>
<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="row">
                @foreach(var item in Model){
                <div class="col-md-6">
                    <figure class="products-thumb">
                        <img src="@item.ImageUrl" alt="book" class="single-image">
                    </figure>
                </div>
                
                <div class="col-md-6">
                    <div class="product-entry">
                        <h2 class="section-title divider">Sizin İçin Önerimiz</h2>

                        <div class="products-content">
                            <div class="author-name">@item.WriterName</div>
                            <h3 class="item-title">@item.Title</h3>
                            <p>
                                @item.Description.Substring(0,170)...
                            </p>
                            <div class="item-price">@item.Price ₺</div>
                            <div class="btn-wrap">
                                <a href="#" class="btn-accent-arrow">
                                    Hemen Satın Al <i class="icon icon-ns-arrow-right"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                }
            </div>
            <!-- / row -->

        </div>

    </div>
</div>